<form method="post">
    <h4>Selectionnez les dates de réservation</h4>
    <div class="grid">
        {% csrf_token %}
        {% for field in form %}
            {% if field.is_hidden %}
                <div class="hidden-label">
                    {{ field.label_tag }}
                </div>
                {{ field }}
            {% else %}
                <p>
                    {{ field.label_tag }}
                    {{ field }}
                </p>
            {% endif %}
        {% endfor %}
    </div>
    <div class="grid">
        {% if form.non_field_errors %}
            <mark>{{ form.non_field_errors }}</mark>
        {% endif %}
        {% for field in form %}
            {% if not field.is_hidden %}
                {% if field.errors %}
                    <mark>{{ field.errors }}</mark>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>

    <p>
        <div class="grid"> 
            <button type="submit" name="annuler"
            class="secondary"
            hx-post="{% url 'reserver-materiel-bouton' materiel.pk %}"
            hx-target="closest form"
            hx-swap="outerHTML">Annuler</button>
            <button type="submit" name="reserver"
            hx-post="{% url 'reserver-materiel' materiel.pk %}"
            hx-target="closest section"
            hx-swap="outerHTML">Reserver</button>
        </div>
    </p>
</form>