{% load define_var %}
{% if utilisateur.est_moderateur and utilisateur.pk != emprunt.utilisateur.pk %}
    {% define emprunt.utilisateur.user.username|add:" a" as emprunteur %}
{% else %} 
    {% define "Vous avez" as emprunteur %}
{% endif %}

<div>
    {% if emprunt.date_debut_emprunt is not None and emprunt.date_fin_emprunt is not None %}
        <p>{{ emprunteur }} signalé l'emprunt de ce matériel le {{ emprunt.date_debut_emprunt }}, et son retour le {{ emprunt.date_fin_emprunt }}.</p>
    {% elif emprunt.date_debut_emprunt is None and not emprunt.cloture %}
        <p>{{ emprunteur }} une réservation en cours sur ce matériel, vous pouvez procéder à son emprunt. Pensez à le signaler en cliquant sur le bouton ci-dessous.</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" name="action_emprunt" value="emprunter"
            hx-post="{% url 'emprunter-materiel-bouton' emprunt.pk %}"
            hx-target="closest div"
            hx-swap="outerHTML">Signaler l'emprunt</button>
        </form>
        <form method="post">
            {% csrf_token %}
            <button type="submit" name="action_emprunt" value="annuler"
            class="secondary"
            hx-post="{% url 'emprunter-materiel-bouton' emprunt.pk %}"
            hx-target="closest div"
            hx-swap="outerHTML">Annuler la réservation</button>
        </form>
    {% elif emprunt.date_debut_emprunt is not None and emprunt.date_fin_emprunt is None %}
        <p>{{ emprunteur }} signalé l'emprunt de ce matériel le {{emprunt.date_debut_emprunt}}. Lors du retour du matériel, pensez à le signaler en cliquant sur le bouton ci-dessous.</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" name="action_emprunt" value="retourner"
            hx-post="{% url 'emprunter-materiel-bouton' emprunt.pk %}"
            hx-target="closest div"
            hx-swap="outerHTML">Signaler le retour</button>
        </form>
    {% endif %}
</div>