{% extends 'materiel/base.html' %} 
{% block content %}

<header class="container">
    <h1>{{ materiel.identifiant }} - {{ materiel.nom }}</h1>
    <h4>{{ materiel.categorie }}, {{ materiel.emplacement }}</h3>
    <p>{{ materiel.description|linebreaks }}</p>
    {% if utilisateur.est_moderateur %}
        <a href="{% url 'editer-materiel' materiel.pk %}"><button>Editer les informations</button></a>
    {% endif %}
</header>
<main class="container">
    {% include 'materiel/fiche_materiel/section-reservation.html' %}
    
    <section id="commentaires">
        <h2>Commentaires</h2>
        <p>Donnez ici des informations sur le suivi du matériel (pannes, entretiens réalisés, frais éventuels...)</p>
               
        {% include 'materiel/fiche_materiel/creer-commentaire-bouton.html' with materiel=materiel %}

        {% for commentaire in commentaires %}
            {% include 'materiel/fiche_materiel/commentaire.html' with commentaire=commentaire %}
        {% endfor %}

    </section>

</main>

{% endblock content %}


