<script src='https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.11/index.global.min.js'></script>
<script>

    document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendrier');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        locale: 'fr',
        firstDay: 1,
        initialView: 'dayGridMonth',
        headerToolbar: {
            start: 'title', 
            center: '',
            end: 'prev,next' 
        },
        events: {{ reservations_calendrier|safe }},
    });
    calendar.render();
    });

</script>
<section id="reservations">
    <h2>Voir sa disponiblité et procéder à une réservation</h2>

        {% if materiel.reservation_en_cours %}
            <p><mark>Réservation en cours :
                <a href="{% url 'utilisateur' materiel.reservation_en_cours.utilisateur.pk %}">{{ materiel.reservation_en_cours.utilisateur }},</a>
                 du {{ materiel.reservation_en_cours.date_debut_resa }} au {{ materiel.reservation_en_cours.date_fin_resa }}.
                 {% if materiel.reservation_en_cours.date_debut_emprunt %}
                    Emprunté depuis le {{ materiel.reservation_en_cours.date_debut_emprunt }}.
                 {% endif %}
                </mark>
            </p>

            {% if utilisateur.est_moderateur or utilisateur.peut_emprunter and utilisateur.pk == materiel.reservation_en_cours.utilisateur.pk %}
                {% include 'materiel/fiche_materiel/emprunter-materiel-bouton.html' with emprunt=materiel.reservation_en_cours %}
            {% endif %}
        {% endif %}

        {% if not materiel.empruntable %}
            <p><mark>Ce matériel n'est pas disponible à l'emprunt pour le moment.</mark></p>
        {% endif %}

        <article>
            <div id="calendrier"></div>
        </article>

        <h4>Prochaines réservations :</h4>
        {% if materiel.reservations_futures %}
            <table>
            <tr>
                <th><b>Emprunteur</b></th>
                <th><b>Date début réservation</b></th>
                <th><b>Date fin réservation</b></th>
            </tr>
            {% for reservation in materiel.reservations_futures %}
                <tr>
                    <td><a href="{% url 'utilisateur' reservation.utilisateur.pk %}">{{ reservation.utilisateur }}</a></td>
                    <td>{{ reservation.date_debut_resa }}</td>
                    <td>{{ reservation.date_fin_resa }}</td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            <p>Aucune réservation prévue pour ce matériel.</p>
        {% endif %}

        <h4>Réservations passées :</h4>
        {% if materiel.reservations_passees %}
            <table>
            <tr>
                <th><b>Emprunteur</b></th>
                <th><b>Date début réservation</b></th>
                <th><b>Date fin réservation</b></th>
                <th><b>Date début emprunt</b></th>
                <th><b>Date fin emprunt</b></th>
                <th><b>Cloturé</b></th>
            </tr>
            {% for reservation in materiel.reservations_passees %}
                <tr>
                    <td><a href="{% url 'utilisateur' reservation.utilisateur.pk %}">{{ reservation.utilisateur }}</a></td>
                    <td>{{ reservation.date_debut_resa }}</td>
                    <td>{{ reservation.date_fin_resa }}</td>
                    <td>{{ reservation.date_debut_emprunt|default_if_none:"-" }}</td>
                    <td>{{ reservation.date_fin_emprunt|default_if_none:"-" }}</td>
                    <td>{% if reservation.cloture %}Oui{% else %}Non{% endif %}</td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            <p>Aucune réservation passée pour ce matériel.</p>
        {% endif %}
        {% if formulaire_resa %}
            {% include 'materiel/fiche_materiel/reserver-materiel.html' with materiel=materiel form=formulaire_resa %}
        {% elif utilisateur.peut_emprunter and materiel.empruntable %}
            {% include 'materiel/fiche_materiel/reserver-materiel-bouton.html' with materiel=materiel %}
        {% endif %}
    </section>