{% load static %}
<!DOCTYPE html>
<html lang="fr"></html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'materiel/style.css' %}"/>
    <script src="https://unpkg.com/htmx.org@1.9.8"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GERM</title>
</head>
<body>   

    {% include 'includes/messages.html' %}
    <div class="hero" data-theme="dark">
        <nav class="container-fluid">
            <ul>
                <li>
                    <a href="{% url 'home' %}" class="contrast">GERM : gestion emprunt et réservation de matériel</a> 
                </li>
            </ul>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    Connecté en tant que {{user.username}}
                </li>
                <li>

                <details role="list" dir="rtl">
                    <summary aria-haspopup="listbox" role="link"></summary>
                    <ul role="listbox">
                    <li>
                        <a href="/">Matériel</a>
                    </li>
                    <li>
                        <a href="/categories">Catégories</a>
                    </li>
                    <li>
                        <a href="/emplacements">Emplacements</a>
                    </li>
                    <li>
                        <a href="/logout">Se déconnecter</a>
                    </li>
                    </ul>
                </details>
                </li>
                {% else %}
                <li>
                    <a href="/login">Se connecter</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>

    {% block content %}
    {% endblock %}
</body>
</html>