{% extends 'materiel/base.html' %} 
{% block content %}
<main class="container">
    <h2>Editer matériel</h2>
    <form method="post" action="/editer-materiel/{{materiel.pk}}">
        {% csrf_token %}
        {{ form }}
        <p>
            <div class="grid">         
                <input type=button value="Annuler" onClick="javascript:history.go(-1);" class="secondary">
                <button type="submit", name="creer">Enregistrer</button>
            </div>
        </p>
    </form>
    <form>     
        {% csrf_token %}   
        <button class="outline secondary" hx-target="closest body" hx-post="{% url 'supprimer-materiel' materiel.pk %}" hx-confirm="Etes vous sur de vouloir supprimer ce matériel ?">Supprimer</button> 
    </form>
</main>
{% endblock content %}