{% extends 'materiel/base.html' %} 
{% block content %}

<main class="container">
    <h2>Liste du matériel</h2>
    <p>
        Cliquez sur un élément pour voir ses informations et procéder à sa réservation.
    </p>
    <form method="get">
        {{ filtre_materiel.form }}
        <input type="submit" />
    </form>
    <table>
        <tr>
            <th><b>Nom</b></th>
            <th><b>Identifiant</b></th>
            <th><b>Catégorie</b></th>
            <th><b>Etat</b></th>
        </tr>
        {% for materiel in filtre_materiel.qs %}
            {% include 'materiel/materiel-liste.html' %}
        {% endfor %}
    </table>
    {% if utilisateur.est_moderateur %}
        <a href="{% url 'creer-materiel' %}"><button>Ajouter un nouvel élément</button></a> 
    {% endif %}
</main>

{% endblock content %}