{% extends 'materiel/base.html' %} 
{% block content %}

<header class="container">
    <h1>{{ materiel.identifiant }} - {{ materiel.nom }}</h1>
    <h4>{{ materiel.categorie }}, {{ materiel.emplacement }}</h3>
    <p>{{ materiel.description }}</p>
    {% if utilisateur.est_moderateur %}
        <a href="{% url 'editer-materiel' materiel.pk %}"><button>Editer les informations</button></a>
    {% endif %}
</header>
<main class="container">
    <h2>Voir sa disponiblité et procéder à une réservation</h2>

    {% if reservation_en_cours %}
    <p><mark>Réservation en cours :
        {{ reservation_en_cours.utilisateur }}, du {{ reservation_en_cours.date_debut_resa }} au {{ reservation_en_cours.date_fin_resa }}</mark>
    </p>
    {% endif %}

    {% if reservation_futures %}
        <h4>Prochaines réservations :</h4>
        <ul>
        {% for reservation in reservation_futures %}
            <li>{{ reservation.utilisateur }}, du {{ reservation.date_debut_resa }} au {{ reservation.date_fin_resa }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if reservation_passees %}
        <h4>Réservations passées :</h4>
        <ul>
        {% for reservation in reservation_passees %}
            <li>{{ reservation.utilisateur }}, du {{ reservation.date_debut_resa }} au {{ reservation.date_fin_resa }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if utilisateur.peut_emprunter %}
        {% include 'materiel/reserver-materiel-bouton.html' with materiel=materiel %}
    {% endif %}
</main>

{% endblock content %}
