{% if utilisateur_fiche.peut_emprunter %}
<div>
    <ins>Peut emprunter</ins><br>
    <form method="post">
        {% csrf_token %}
        <button hx-post="{% url 'utilisateur-peut-emprunter' utilisateur.pk %}"
                hx-target="closest div"
                hx-swap="outerHTML"
                type="submit">Empêcher l'emprunt pour cet utilisateur
        </button>
    </form>
</div>
{% else %}
<div>
    <mark>Ne peut pas emprunter</mark><br>
    <form method="post">
        {% csrf_token %}
        <button hx-post="{% url 'utilisateur-peut-emprunter' utilisateur.pk %}"
                hx-target="closest div"
                hx-swap="outerHTML"
                type="submit">Autoriser l'emprunt pour cet utilisateur
        </button>
    </form>
</div>
{% endif %}