{% extends 'materiel/base.html' %} 
{% block content %}

<main class="container" hx-ext="loading-states">
    <h2>Liste des utilisateurs</h2>
    <p>
        Cliquez sur un élément pour voir ses informations.
    </p>
    <table>
        <tr>
            <th><b>Nom</b></th>
            <th><b>Téléphone</b></th>
            <th><b>Email</b></th>
            <th><b>Commune</b></th>
            <th><b>Modérateur</b></th>
            <th><b>Emprunts en cours</b></th>
            <th><b>Réservations en cours</b></th>
        </tr>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td><a href="{% url 'utilisateur' utilisateur.pk %}">{{ utilisateur.user.first_name }} {{ utilisateur.user.last_name }}</a></td>
                <td>{{ utilisateur.numero_telephone }}</td>
                <td>{{ utilisateur.user.email }}</td>
                <td>{{ utilisateur.commune_residence }}</td>
                <td>{% if utilisateur.est_moderateur %}Oui{% else %}Non{% endif %}</td>
                <td>{% if utilisateur.has_emprunts_en_cours %}Oui{% else %}Non{% endif %}</td>
                <td>{% if utilisateur.has_resa_en_cours %}Oui{% else %}Non{% endif %}</td>
            </tr>
        {% endfor %}
    </table>
    {% if utilisateur.est_moderateur %}
        <form>
            {% csrf_token %} 
            <button class="outline secondary" hx-target="closest body" hx-post="{% url 'importer-utilisateurs-dolibarr' %}" data-loading-aria-busy>Importer de nouveaux utilisateurs depuis la liste des adhérents de Dolibarr</button> 
        </form>
    {% endif %}
</main>

{% endblock content %}
