{% extends 'materiel/base.html' %} 
{% block content %}

<main class="container">
    <h2>Exporter la liste du materiel</h2>
    <p>
        Vous pouvez exporter la liste du matériel enregistré dans la base, au format ods, en cliquant ici :
        <br><br><a href="{% url 'export-liste-materiel' %}"><button>Exporter</button></a>         
    </p>
    <h2>Importer la liste du materiel</h2>
    <p>
        Vous pouvez importer de nouveaux matériels en téléversant un document ods. Ce document doit être au même format que celui exporté. 
        <details>
            <summary>En savoir plus</summary>
            <p>
                L'outil d'import permet de créer des enregistrements, et de modifier des enregistrements existants, sur la base d'informations contenues dans un fichier tableur open document (.odt).</br>
                Le fichier d'import doit contenir les entêtes de colonnes suivantes (dans l'ordre) : Catégorie, Préfixe catégorie, Emplacement, Référence, Nom, Description, Empruntable.</br>
                Pour créer un enregistrement, renseigner toutes les colonnes. La colonne "référence" peut rester vide si vous souhaitez que l'outil génère automatiquement un nouvel identifiant.</br>
                Les catégories et emplacement peuvent être créés à la volée en fonction des informations renseignées dans le tableau. Pensez à bien vérifier la syntaxe pour éviter les doublons.</br>
                Si vous souhaitez qu'une ligne soit ignorée par l'outil d'import, laissez la colonne "catégorie" vide. <br>
                Il n'est pas possible de mettre à jour le nom ou la référence d'un matériel existant via cet outil d'import. <br>
                A la fin de l'import, un rapport sera affiché sur cette page, indiquant les opérations effectuées. L'import peut prendre un peu de temps, soyez patient.
            </p>
                

        </details>
        {% if messages_import %}
            <p>
                <h4>Le fichier d'import a été traité. Voici le rapport :</h4>
                <ul>
                    {% for message in messages_import %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </p>

        {% else %}
            <form method="post" action="{% url 'import-export-liste-materiel' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p}}        
                <p>
                    <button type="submit", name="creer">Importer</button>
                </p>
            </form>
        {% endif %}
    </p>
</main>

{% endblock content %}